<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.goods.mapper.GoodsMapper">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wms.goods.pojo.Goods">
        <id column="id" property="id" />
        <result column="sequence_id" property="sequenceId" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="damaged_condition" property="damagedCondition" />
        <result column="provider_id" property="providerId" />
        <result column="goods_description" property="goodsDescription" />
        <result column="price" property="price" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, sequence_id, name, create_time, damaged_condition, provider_id, goods_description, price, update_time
    </sql>

</mapper>
